<!-- ======= Breadcrumbs Section ======= -->
<section class="breadcrumbs">
    <div class="container">

        <h1> <span ng-bind="postCategory.title"></span> </span>
        </h1>

    </div>
</section>
<!-- Breadcrumbs Section -->

<!-- ======= Portfolio Details Section ======= -->

<div class="container">
    <div class="row">
        <div id="main-left" class="" style="min-height: 500px; margin-bottom: 50px;">
            <div class="row">
                <div class=" col-md-12 ">
                    <div class="post-item" ng-repeat="item in listPosts">
                        <div class="pi-title">
                            <a href="/news/{{item.postContent.oneLvlUrl}}-{{item.nameKey}}" title="{{item.postContent.title}}" style="text-rendering: optimizelegibility;">
                                {{item.postContent.title}}
                            </a>
                        </div>
                        <div class="pi-img">
                            <img ng-if="item.pictures.length > 0" ng-src="{{item.pictures[0]}}" alt="{{item.postContent.title}}" orientimgload />
                            <img ng-if="item.pictures.length == 0" ng-src="/front-page/assets/img/logo_fb.png" alt="{{item.postContent.title}}" orientimgload />
                        </div>
                        <div class="pi-content">

                            <div class="datetime" style="font-size: 13px;">
                                Ngày đăng : {{item.datePost | date:'dd/MM/yyyy'}}
                            </div>
                            <div class="des" ng-if="item.postContent.descriptions.indexOf('Mô tả ngắn') != 3 && item.postContent.descriptions != '' " ng-bind-html="item.postContent.descriptions | removeHTMLTags | subString: postCateContentNumer | trust">
                            </div>
                            <div class="des" ng-if="item.postContent.descriptions.indexOf('Mô tả ngắn') == 3 || item.postContent.descriptions == '' " ng-bind-html="item.postContent.content | removeHTMLTags | subString: postCateContentNumer | trust ">
                            </div>
                        </div>
                    </div>

                    <ul  ng-if="pagination.totalItems > 0" uib-pagination boundary-links="true" total-items="pagination.totalItems" ng-model="pagination.currentPage" items-per-page="pagination.itemsPerPage" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                        last-text="&raquo;" max-size="3" boundary-link-numbers="true" rotate="false" ng-change="pageChanged()"></ul>

                </div>
            </div>


            <br/>
            <div class="related_product col-lg-12">
                <div class="title-list">Bất động sản hot</div>
                <div class="row ">
                    <div ng-if="hotProducts && hotProducts.length > 0" class="product-related-item" ng-repeat="item in hotProducts">
                        <!-- <div class="pi-img">
                            <img ng-src="{{item.pictures[0]}}" alt="{{item.productContent.title}}" orientimgload />
                        </div> -->
                        <div class="pi-content">
                            <a href="/{{item.productContent.oneLvlUrl}}-{{item.nameKey}}" title="{{item.productContent.title}}" style="text-rendering: optimizelegibility;">
                                {{item.productContent.title}}
                            </a>
                            <div class="wrap">
                                <span class="wrap-price">
                        <span class="price"> <i class="fa fa-tags" aria-hidden="true"></i>: <strong class="product-price" ng-bind="item.normalPrice | productPrice"></strong></span>
                                <span class="area"> Diện tích: <strong class="product-area">{{item.acreage}} m²</strong></span></span>
                                <span class="contact floatright"></span> <br/>
                                <span class="p-district"> <i class="fa fa-map-marker" aria-hidden="true"></i>: <strong class="product-city-dist">{{item.district.title}}, {{item.province.title}}</strong></span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <br/>
            <div class="related_product col-lg-12">
                <div class="title-list">Bất động sản mới</div>
                <div class="row ">
                    <div ng-if="newProducts && newProducts.length > 0" class="product-related-item" ng-repeat="item in newProducts">
                        <!-- <div class="pi-img">
                            <img ng-src="{{item.pictures[0]}}" alt="{{item.productContent.title}}" orientimgload />
                        </div> -->
                        <div class="pi-content">
                            <a href="/{{item.productContent.oneLvlUrl}}-{{item.nameKey}}" title="{{item.productContent.title}}" style="text-rendering: optimizelegibility;">
                                {{item.productContent.title}}
                            </a>
                            <div class="wrap">
                                <span class="wrap-price">
                        <span class="price"> <i class="fa fa-tags" aria-hidden="true"></i>: <strong class="product-price" ng-bind="item.normalPrice | productPrice"></strong></span>
                                <span class="area"> Diện tích: <strong class="product-area">{{item.acreage}} m²</strong></span></span>
                                <span class="contact floatright"></span> <br/>
                                <span class="p-district"> <i class="fa fa-map-marker" aria-hidden="true"></i>: <strong class="product-city-dist">{{item.district.title}}, {{item.province.title}}</strong></span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div id="main-right" class="">
            <div id="product_search">
                <div class="box-title">
                    Chuyên mục
                </div>
                <div class="box-content">
                    <ul class="count-product">
                        <li class="drop-down" ng-repeat="item in menuNews" ng-if="item.priority == 2 && item.idParent == '5f2e60e731fb1f20f8aa783d' ">
                            <h4 class="normal">
                                <a href="/news/{{item.catePostContent.oneLvlUrl}}">{{item.name}}</a><h4 class="normal">
                            </h4>
                            <ul>
                                <li ng-repeat="lvl_2 in menuNews" ng-if="lvl_2.priority == 3 && lvl_2.idParent == item._id ">
                                    <h4 class="normal">
                                        <a href="/news/{{lvl_2.catePostContent.oneLvlUrl}}">{{lvl_2.name}}</a>
                                    </h4>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="count-product">
                        <li class="drop-down" ng-repeat="item in menuNews" ng-if="item.priority == 2 && item.idParent == '5f3f4c1183c2f72c8c4e600e' ">
                            <h4 class="normal">
                                <a href="/news/{{item.catePostContent.oneLvlUrl}}">{{item.name}}</a>
                            </h4>
                            <ul>
                                <li ng-repeat="lvl_2 in menuNews" ng-if="lvl_2.priority == 3 && lvl_2.idParent == item._id ">
                                    <h4 class="normal">
                                        <a href="/news/{{lvl_2.catePostContent.oneLvlUrl}}">{{lvl_2.name}}</a>
                                    </h4>
                                </li>
                            </ul>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>

</div>

<!-- End Portfolio Details Section -->

<script>
    if (window.innerWidth < 992) {
        jQuery('#main-left').attr("class", "col-md-12");
        jQuery('#main-right').css("display", "none");
    } else {
        jQuery('#main-left').attr("class", "col-lg-9");
        jQuery('#main-right').css("display", "block");
        jQuery('#main-right').attr("class", "col-lg-3");
    }
</script>