<!-- ======= Breadcrumbs Section ======= -->
<section class="breadcrumbs">
    <div class="container">

        <h1> <span ng-bind="postCategory.title"></span> </span>
        </h1>

    </div>
</section>
<!-- Breadcrumbs Section -->

<!-- ======= Portfolio Details Section ======= -->

<div class="container">
    <div class="row">
        <div id="main-left" class="" style="min-height: 500px; margin-bottom: 50px;">
            <div class="row">
                <div class=" col-md-12 ">
                    <div class="product-item" ng-repeat="item in listPosts">
                        <div class="pi-img">
                            <img ng-if="item.pictures.length > 0" ng-src="{{item.pictures[0]}}" alt="{{item.postContent.title}}" orientimgload />
                            <img ng-if="item.pictures.length == 0" ng-src="/front-page/assets/img/logo_fb.png" alt="{{item.postContent.title}}" orientimgload />
                        </div>
                        <div class="pi-content">
                            <a href="/news/{{item.postContent.oneLvlUrl}}-{{item.nameKey}}" title="{{item.postContent.title}}" style="text-rendering: optimizelegibility;">
                                {{item.postContent.title}}
                            </a>
                            <div class="datetime" style="font-size: 13px;">
                                Ngày đăng : {{item.datePost | date:'dd/MM/yyyy'}}
                            </div>
                            <br/>
                            <div class="des" ng-if="item.postContent.descriptions.indexOf('Mô tả ngắn') != 3 && item.postContent.descriptions != '' " ng-bind-html="item.postContent.descriptions | trust">
                            </div>
                            <div class="des" ng-if="item.postContent.descriptions.indexOf('Mô tả ngắn') == 3 || item.postContent.descriptions == '' " ng-bind-html="item.postContent.content | removeHTMLTags | subString:200 | trust ">
                            </div>
                        </div>
                    </div>

                </div>



            </div>

        </div>
        <div id="main-right" class="">
            <div id="product_search">
                <div class="box-title">
                    Bài viết khác
                </div>
                <div class="box-content">
                    <ul class="count-product">
                        <li>
                            <h4 class="normal"><a href="/news/tin-tuc">
                        Tin tức</a></h4>
                        </li>
                        <li>
                            <h4 class="normal"><a href="/news/tu-van-luat">
                        Tư vấn luật</a></h4>
                        </li>
                        <li>
                            <h4 class="normal"><a href="/news/kinh-nghiem">
                        Kinh nghiệm</a></h4>
                        </li>
                        <li>
                            <h4 class="normal"><a href="/news/phong-thuy">
                        Phong thủy</a></h4>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>

</div>

<!-- End Portfolio Details Section -->

<script>
    if (window.innerWidth < 992) {
        jQuery('#main-left').attr("class", "col-md-12");
        jQuery('#main-right').css("display", "none");
    } else {
        jQuery('#main-left').attr("class", "col-lg-9");
        jQuery('#main-right').css("display", "block");
        jQuery('#main-right').attr("class", "col-lg-3");
    }
</script>