<style>
    .owl-prev {
        width: 35px;
        height: 75px;
        position: absolute;
        top: 30%;
        margin-left: -18px;
        display: block !important;
        border: none;
    }
    
    .owl-next {
        width: 35px;
        height: 75px;
        position: absolute;
        top: 30%;
        right: -14px;
        display: block !important;
        border: none;
    }
    
    .owl-prev i,
    .owl-next i {
        transform: scale(3, 3);
        color: #ffffff;
        font-weight: bold;
        padding: 1px;
        background: rgb(51 51 51 / 0.5);
    }
</style>

<!-- ======= Breadcrumbs Section ======= -->
<section class="breadcrumbs">
    <div class="container">
        <h1> <span ng-bind="post.postContent.title"></span>
        </h1>
        <div class="datetime" style="font-size: 13px;">
            Ngày đăng : {{post.datecreate | date:'HH:mm dd/MM/yyyy'}}
        </div>
    </div>
</section>
<!-- Breadcrumbs Section -->

<!-- ======= Portfolio Details Section ======= -->

<div class="container">
    <div class="row">
        <div id="main-left" class="" style="min-height: 500px;">
            <div id="product_detail" class="post_detail">
                <div class="des" ng-if="post.postContent.descriptions.indexOf('Mô tả ngắn') != 3" ng-bind-html="post.postContent.descriptions | trust">
                </div>

                <br/>
                <div class="pr-content" ng-bind-html="post.postContent.content | trust">
                </div>
            </div>
            <div class="othernews">
                <h2 class="normalblue" style="white-space: nowrap;">Xem thêm tin khác</h2>
                <div class="otherline">
                    &nbsp;
                </div>
                <a ng-repeat="item in relatedPosts" class="font-link-box-item iconlist" href="/news/{{item.postContent.oneLvlUrl}}-{{item.nameKey}}" title="{{item.postContent.title}}">
                    {{item.postContent.title}}
                    <i>
                        ( 
                        <span ng-if="item.datePost" ng-bind="item.datePost | date:'dd/MM/yyyy' "></span> 
                        <span ng-if="!item.datePost" ng-bind="item.datecreate | date:'dd/MM/yyyy' "></span>
                        )
                    </i>
                </a>
            </div>
        </div>

        <div id="main-right" class="">
            <div id="product_search" class="row">
                <div class="box-title" style="width: 100%;">
                    Tin mục khác
                </div>
                <div class="box-content" style="width: 100%;">
                    <ul class="count-product">

                        <li>
                            <h4 class="normal"><a href="/news/tin-tuc">
                        Tin tức</a></h4>
                        </li>
                        <li>
                            <h4 class="normal"><a href="/news/tu-van-luat">
                        Tư vấn luật</a></h4>
                        </li>
                        <li>
                            <h4 class="normal"><a href="/news/kinh-nghiem">
                        Kinh nghiệm</a></h4>
                        </li>
                        <li>
                            <h4 class="normal"><a href="/news/phong-thuy">
                        Phong thủy</a></h4>
                        </li>
                    </ul>

                </div>
            </div>


            <div id="product_search" class="row">
                <div class="box-title" style="width: 100%;">
                    Sản phẩm hot
                </div>
                <div class="box-content" style="width: 100%;">
                    <div ng-if="hotProducts" class="hotProducts" ng-repeat="item in hotProducts" style="text-align: center; margin-bottom: 35px;">
                        <a href="/{{item.productContent.oneLvlUrl}}-{{item.nameKey}}">
                            <h7>{{item.productContent.title}}</h7>
                            <img ng-src="{{item.pictures[0]}}" style="max-width: 100%;" />
                        </a>
                    </div>

                </div>
            </div>
            

        </div>
    </div>

</div>

<!-- End Portfolio Details Section -->


<script>
    if (window.innerWidth < 992) {
        jQuery('#main-left').attr("class", "col-md-12");
        jQuery('#main-right').css("display", "none");
    } else {
        jQuery('#main-left').attr("class", "col-lg-9");
        jQuery('#main-right').css("display", "block");
        jQuery('#main-right').attr("class", "col-lg-3");
    }
</script>