<!-- ======= Testimonials Section ======= -->
<section id="cta" class="cta" style="padding: 0px 0px 0px 0px;">
    <div class="container">

        <div class="owl-carousel portfolio-details-carousel">
            <div ng-repeat="item in sliders">
                <a href="{{item.nameKey}}">
                    <img ng-src="{{item.videoUrl}}" class="img-fluid" alt="">
                </a>
            </div>

        </div>

    </div>
</section>

<hot-product title="Nhà đất bán hot" key="ban_hot"></hot-product>

<hot-product title="Cho thuê hot" key="thue_hot"></hot-product>


<!-- ======= Portfolio Section ======= -->
<new-product title="Sản phẩm mới" key="new_product"></new-product>
<!-- End Portfolio Section -->

<!-- ======= Team Section ======= -->
<section id="team" class="team">
    <div class="container">

        <div class="section-title" data-aos="fade-in" data-aos-delay="100">
            <h2>Dự án hot <a class="view-more" href="#">Xem thêm</a> </h2>
            <p>Thông tin sẽ sớm được cập nhật</p>
        </div>

        <div class="row">
            <div ng-if="!listHotProjects">Đang tải ...</div>
            <div class="col-lg-4 col-md-6">
                <div class="member" data-aos="fade-up">
                    <div class="pic"><img src="front-page/assets/img/team/team-1.jpg" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Walter White</h4>
                        <span>Chief Executive Officer</span>
                        <div class="social">
                            <a href=""><i class="icofont-twitter"></i></a>
                            <a href=""><i class="icofont-facebook"></i></a>
                            <a href=""><i class="icofont-instagram"></i></a>
                            <a href=""><i class="icofont-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="member" data-aos="fade-up" data-aos-delay="150">
                    <div class="pic"><img src="front-page/assets/img/team/team-2.jpg" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Sarah Jhonson</h4>
                        <span>Product Manager</span>
                        <div class="social">
                            <a href=""><i class="icofont-twitter"></i></a>
                            <a href=""><i class="icofont-facebook"></i></a>
                            <a href=""><i class="icofont-instagram"></i></a>
                            <a href=""><i class="icofont-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="member" data-aos="fade-up" data-aos-delay="300">
                    <div class="pic"><img src="front-page/assets/img/team/team-3.jpg" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>William Anderson</h4>
                        <span>CTO</span>
                        <div class="social">
                            <a href=""><i class="icofont-twitter"></i></a>
                            <a href=""><i class="icofont-facebook"></i></a>
                            <a href=""><i class="icofont-instagram"></i></a>
                            <a href=""><i class="icofont-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- End Team Section -->



<!-- ======= Contact Section ======= -->
<!-- <section id="" class=" section-bg">
    <div class="container">

        <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-md-6">
                <div class="link-nha-dat">
                    <i class="bx bx-map"></i>
                    <div class="footer-middle-colum1">
                        <div class="footer-middle-colum1-title">
                            <h3><a href="/nha-dat-ban-tp-hcm">Nhà đất TP HCM</a></h3>
                        </div>
                        <div class="footer-middle-colum1-link"><a href="/nha-dat-ban-tp-hcm">Mua bán nhà đất TPHCM</a> </div>
                        <div class="footer-middle-colum1-link"><a href="/ban-nha-rieng-quan-1">Bán nhà Quận 1</a></div>
                        <div class="footer-middle-colum1-link"><a href="/nha-dat-ban-quan-2">Bán nhà Quận 2</a></div>
                        <div class="footer-middle-colum1-link"><a href="/nha-dat-ban-quan-3">Bán nhà Quận 3</a></div>
                        <div class="footer-middle-colum1-link"><a href="/nha-dat-ban-quan-4">Bán nhà Quận 4</a></div>
                        <div class="footer-middle-colum1-link"><a href="/nha-dat-ban-quan-5">Bán nhà Quận 5</a></div>
                        <div class="footer-middle-colum1-link"><a href="/nha-dat-ban-quan-6">Bán nhà Quận 6</a></div>
                        <div class="footer-middle-colum1-link"><a href="/ban-nha-rieng-quan-7">Bán nhà Quận 7</a></div>
                        <div class="footer-middle-colum1-link"><a href="/nha-dat-ban-quan-8">Bán nhà Quận 8</a></div>
                        <div class="footer-middle-colum1-link"><a href="/nha-dat-ban-quan-9">Bán nhà Quận 9</a></div>
                        <div class="footer-middle-colum1-link"><a href="/nha-dat-ban-quan-10">Bán nhà Quận 10</a></div>
                        <div class="footer-middle-colum1-link"><a href="/nha-dat-ban-quan-11">Bán nhà Quận 11</a></div>
                        <div class="footer-middle-colum1-link"><a href="/nha-dat-ban-quan-12">Bán nhà Quận 12</a></div>
                        <div class="footer-middle-colum1-link"><a href="/nha-dat-ban-tan-phu">Bán nhà Tân Phú</a></div>
                        <div class="footer-middle-colum1-link"><a href="/nha-dat-ban-thu-duc">Bán nhà Thủ Đức</a></div>
                        <div class="footer-middle-colum1-link"><a href="/nha-dat-ban-binh-chanh">Bán nhà Bình Chánh</a></div>
                        <div class="clear">&nbsp; </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="link-nha-dat">
                    <i class="bx bx-envelope"></i>
                    <div class="footer-middle-colum1">
                        <div class="footer-middle-colum1-title">
                            <h3><a href="/nha-dat-ban-tp-hcm">Nhà đất TP HCM</a></h3>
                        </div>
                        <div class="footer-middle-colum1-link"><a href="/nha-dat-ban-tp-hcm">Mua bán nhà đất TPHCM</a> </div>
                        <div class="footer-middle-colum1-link"><a href="/ban-nha-rieng-quan-1">Bán nhà Quận 1</a></div>
                        <div class="footer-middle-colum1-link"><a href="/nha-dat-ban-quan-2">Bán nhà Quận 2</a></div>
                        <div class="footer-middle-colum1-link"><a href="/nha-dat-ban-quan-3">Bán nhà Quận 3</a></div>
                        <div class="footer-middle-colum1-link"><a href="/nha-dat-ban-quan-4">Bán nhà Quận 4</a></div>
                        <div class="footer-middle-colum1-link"><a href="/nha-dat-ban-quan-5">Bán nhà Quận 5</a></div>
                        <div class="footer-middle-colum1-link"><a href="/nha-dat-ban-quan-6">Bán nhà Quận 6</a></div>
                        <div class="footer-middle-colum1-link"><a href="/ban-nha-rieng-quan-7">Bán nhà Quận 7</a></div>
                        <div class="footer-middle-colum1-link"><a href="/nha-dat-ban-quan-8">Bán nhà Quận 8</a></div>
                        <div class="footer-middle-colum1-link"><a href="/nha-dat-ban-quan-9">Bán nhà Quận 9</a></div>
                        <div class="footer-middle-colum1-link"><a href="/nha-dat-ban-quan-10">Bán nhà Quận 10</a></div>
                        <div class="footer-middle-colum1-link"><a href="/nha-dat-ban-quan-11">Bán nhà Quận 11</a></div>
                        <div class="footer-middle-colum1-link"><a href="/nha-dat-ban-quan-12">Bán nhà Quận 12</a></div>
                        <div class="footer-middle-colum1-link"><a href="/nha-dat-ban-tan-phu">Bán nhà Tân Phú</a></div>
                        <div class="footer-middle-colum1-link"><a href="/nha-dat-ban-thu-duc">Bán nhà Thủ Đức</a></div>
                        <div class="footer-middle-colum1-link"><a href="/nha-dat-ban-binh-chanh">Bán nhà Bình Chánh</a></div>
                        <div class="clear">&nbsp; </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section> -->
<!-- End Contact Section -->

<script>
    // Testimonials carousel(uses the Owl Carousel library)
</script>