<!-- ======= Testimonials Section ======= -->
<section id="cta" class="cta" style="padding: 0px 0px 0px 0px;">
    <div class="container">

        <div class="owl-carousel portfolio-details-carousel">
            <div ng-repeat="item in sliders">
                <a href="{{item.nameKey}}">
                    <img ng-src="{{item.videoUrl}}" class="img-fluid" alt="">
                </a>
            </div>

        </div>

    </div>
</section>

<hot-product title="Nhà đất bán hot" key="ban_hot"></hot-product>

<!-- <hot-product title="Cho thuê hot" key="thue_hot"></hot-product> -->


<!-- ======= Portfolio Section ======= -->
<new-product title="Sản phẩm mới" key="new_product"></new-product>
<!-- End Portfolio Section -->

<!-- ======= Team Section ======= -->
<!-- <section id="hotProject" class="team" style="padding-bottom: 15px;">
    <div class="container">

        <div class="section-title" data-aos="fade-in" data-aos-delay="100">
            <h2>Dự án hot <a class="view-more" href="/du-an">Xem thêm</a> </h2>
            <!-- <p>Thông tin sẽ sớm được cập nhật</p> -->
        </div>

        <div class="row">
            <div ng-if="!listHotProjects">Đang tải ...</div>
            <div ng-if="listHotProjects" ng-repeat="item in listHotProjects" class="col-lg-4 col-md-6">
                <div class="member" data-aos="fade-up">
                    <div class="pic">
                        <img ng-if="item.pictures.length > 0" ng-src="{{item.pictures[0]}}" class="img-fluid" alt="{{item.projectContent.title}}" orientimgload />
                        <img ng-if="item.pictures.length == 0" ng-src="/front-page/assets/img/logo_fb.png" alt="{{item.projectContent.title}}" orientimgload />
                    </div>
                    <div class="member-info">
                        <a href="/du-an/{{item.projectContent.oneLvlUrl}}-{{item.nameKey}}">
                            <h4><span ng-bind="item.projectContent.title"></span></h4>
                            <span>Giá thấp nhất từ : {{item.normalPrice | productPrice}}</span>
                        </a>

                        <!-- <span>Chief Executive Officer</span> -->
                        <div class="social">
                            <a href=""><i class="icofont-twitter"></i></a>
                            <a href=""><i class="icofont-facebook"></i></a>
                            <a href=""><i class="icofont-instagram"></i></a>
                            <a href=""><i class="icofont-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section> -->
<!-- End Team Section -->


<script>
    // Testimonials carousel(uses the Owl Carousel library)
</script>