<!-- ======= Testimonials Section ======= -->
<section id="cta" class="cta" style="padding: 0px 0px 0px 0px;">
    <div class="container">

        <div class="owl-carousel portfolio-details-carousel">
            <div ng-repeat="item in sliders">
                <a href="{{item.nameKey}}">
                    <img ng-src="{{item.videoUrl}}" class="img-fluid" alt="">
                </a>
            </div>

        </div>

    </div>
</section>

<hot-product title="Nhà đất bán hot" key="ban_hot"></hot-product>

<!-- <hot-product title="Cho thuê hot" key="thue_hot"></hot-product> -->


<!-- ======= Portfolio Section ======= -->
<new-product title="Sản phẩm mới" key="new_product"></new-product>
<!-- End Portfolio Section -->

<div class="container" id="tim_bds_theo_quan">
    <div class="section-title" data-aos="fade-in" data-aos-delay="100">
        <h2> Tìm bất động sản theo quận </h2>
    </div>
    <div style="clear: both;"></div>
    <ul>
        <li ng-repeat="dis in menuDistrict" ng-if="dis.ID != 657">
            <a href="/nha-dat-ban-{{dis.link}}">{{dis.title}}</a>
        </li>
    </ul>
</div>

<div class="container" id="tim_bds_theo_quan">
    <div class="section-title" data-aos="fade-in" data-aos-delay="100">
        <h2> Bất động sản tỉnh khác </h2>
    </div>
    <div style="clear: both;"></div>
    <ul>
        <li >
            <a href="/nha-dat-ban-binh-duong">Bình Dương</a>
        </li>
        <li >
            <a href="/nha-dat-ban-long-an">Long An</a>
        </li>
    </ul>
</div>

<new-post title="Tin tức mới" key="new_post"></new-post>

<script>
    // Testimonials carousel(uses the Owl Carousel library)
</script>