<!-- .nav-menu -->

<ul>
    <!-- <li class="active"><a href="index.html">Home</a></li> -->
    <li class="drop-down"><a href="/nha-dat-ban">Nhà đất bán</a>
        <ul>
            <li class="drop-down" ng-repeat="item in menuDistrict" ng-if="item.ID != 657">
                <a href="/nha-dat-ban-{{item.link}}">{{item.title}}</a>
                <ul ng-if="item.title.toLowerCase().indexOf('quận') != -1">
                    <li><a href="/ban-nha-mat-tien-{{item.link}}">Nhà đất mặt tiền</a></li>
                    <li><a href="/ban-nha-trong-hem-{{item.link}}">Nhà đất trong hẻm</a></li>
                </ul>
                <ul ng-if="item.title.toLowerCase().indexOf('quận') == -1">
                    <li><a href="/nha-dat-ban-{{item.link}}">Bán kho xưởng</a></li>
                    <li><a href="/nha-dat-ban-{{item.link}}">Nhà đất bán</a></li>
                    <li><a href="/nha-dat-ban-{{item.link}}">Bất động sản khác</a></li>
                </ul>
            </li>
        </ul>
    </li>

    <li class="drop-down"><a href="/nha-dat-cho-thue">Nhà đất cho thuê</a>
        <ul>
            <li class="drop-down"><a href="/cho-thue-nha-mat-tien">Cho thuê nhà mặt tiền</a>
                <ul>
                    <li ng-repeat="item in menuDistrict" ng-if="item.ID != 657">
                        <a href="/cho-thue-nha-mat-tien-{{item.link}}">{{item.title}}</a>
                    </li>
                    <li>
                        <a href="#">Khu vực khác</a>
                    </li>
                </ul>
            </li>
            <li class="drop-down"><a href="/cho-thue-can-ho-chung-cu">Cho thuê căn hộ</a>
                <ul>
                    <li ng-repeat="item in menuDistrict" ng-if="item.ID != 657">
                        <a href="/cho-thue-can-ho-chung-cu-{{item.link}}">{{item.title}}</a>
                    </li>
                    <li>
                        <a href="#">Khu vực khác</a>
                    </li>
                </ul>
            </li>
            <li class="drop-down"><a href="/bat-dong-san-cho-thue-khac">Bất động sản cho thuê khác</a>
                <ul>
                    <li ng-repeat="item in menuDistrict" ng-if="item.ID != 657">
                        <a href="#">{{item.title}}</a>
                    </li>
                    <li>
                        <a href="#">Khu vực khác</a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li><a href="/du-an">Dự án</a></li>
    <!-- <li><a href="#portfolio">Hợp tác</a></li> -->
    <li class="drop-down"><a href="javascript:void(0)">Tin tức - Kinh nghiệm</a>
        <ul>
            <li ng-repeat="item in menuNews" ng-if="item.priority == 2">
                <a href="/news/{{item.catePostContent.oneLvlUrl}}">{{item.name}}</a>
            </li>
        </ul>
    </li>
    <li><a href="/news/phong-thuy">Phong thủy</a></li>

</ul>
<!-- .nav-menu -->