<style>
    .showlist {
        position: absolute;
        top: 40px;
        border: 1px solid #333;
        padding: 0px;
        background: #fff;
        max-height: 400px;
        overflow-y: scroll;
    }
    
    ul.showlist li {
        list-style: none;
        padding: 5px;
    }
</style>

<div class="row">

    <div class="login_wrapper">

        <div id="register" class="animate form registration_form">
            <section class="login_content">
                <form id="formLogin">
                    <img class="logo" src="/main/images/logo.png" />
                    <h1>{{ 'LOGIN' | translate}}</h1>
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model='login' placeholder="{{ 'USERNAME_OR_EMAIL' | translate}}" />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" ng-model='password' placeholder="{{ 'PASS_WORD' | translate}}" />
                    </div>

                    <div class="form-group">
                        <div class="g-recaptcha" data-sitekey="6LfZfc0UAAAAAHbEE3-ah__E0LaGZUssj_tGeAba"></div>
                    </div>
                    <div class="">
                        <button ng-click="submitLogin()" class="btn btn-default submit">{{ 'LOGIN ' | translate}}</button>
                        <button ng-click="resetLogin()" class="btn btn-default submit">{{ 'CANCEL ' | translate}}</button>
                    </div>

                    <div class="clearfix"></div>
                    <br/>
                    <div class="separator">
                        <p class="change_link">Bạn chưa có tài khoản ?
                            <a href="/register" class="to_register"> {{ 'REGISTER ' | translate}} </a>
                        </p>

                        <div class="clearfix"></div>
                        <br />

                    </div>
                </form>
            </section>
        </div>
    </div>
</div>