<style>
    .owl-prev {
        width: 35px;
        height: 75px;
        position: absolute;
        top: 30%;
        margin-left: -18px;
        display: block !important;
        border: none;
    }
    
    .owl-next {
        width: 35px;
        height: 75px;
        position: absolute;
        top: 30%;
        right: -14px;
        display: block !important;
        border: none;
    }
    
    .owl-prev i,
    .owl-next i {
        transform: scale(3, 3);
        color: #ffffff;
        font-weight: bold;
        padding: 1px;
        background: rgb(51 51 51 / 0.5);
    }
</style>

<!-- ======= Breadcrumbs Section ======= -->
<section class="breadcrumbs">
    <div class="container">
        <h1> <span ng-bind="product.productContent.title"></span>
        </h1>
    </div>
</section>
<!-- Breadcrumbs Section -->

<!-- ======= Portfolio Details Section ======= -->

<div class="container">
    <div class="row">
        <div id="main-left" class="" style="min-height: 500px;">
            <div id="product_detail">
                <div class="gallery">
                    <div class="owl-carousel owl-theme">
                        <div ng-repeat="img in product.pictures">
                            <img ng-src="{{img}}" class="img-fluid" alt="{{product.productContent.title}}" ng-click="viewFullImg(img)" />
                        </div>

                    </div>
                </div>
                <span class="diadiem-title mar-right-15">
                        <b>Khu vực:</b> 
                        <a href="/{{nearestCate.oneLvlUrl}}-{{nearestLocal.link}}">{{nearestCate.title}} tại {{nearestLocal.title}}</a> - 
                        <span ng-bind="product.district.title"></span> - <span ng-bind="product.province.title"></span>
                </span>
                <br/>
                <div style="display: inline-block;">
                    <span class="gia-title mar-right-15">
                            <b>
                            Giá:</b>
                            <strong>
                                {{product.normalPrice | productPrice}}<span ng-if="product.idCategory.indexOf('5f336b87ae16cf08a0b6ee6d') != -1">/tháng</span>
                    </strong>
                    </span>
                    <span class="gia-title">
                            <b>
                            Diện tích:</b>
                            <strong>
                                <span ng-bind="product.acreage"></span> m²
                    </strong>
                    </span>
                </div>

                </br/><br/>
                <div class="pr-mota">
                    Thông tin chi tiết
                </div>
                <div class="pr-content" ng-bind-html="product.productContent.content | trust">
                </div>
            </div>
            <br/>
            <div class="related_product col-lg-12">
                <div class="title-list">Bất động sản tương tự</div>
                <div class="row ">
                    <div ng-if="relatedProducts && relatedProducts.length > 0" class="product-related-item" ng-repeat="item in relatedProducts">
                        <!-- <div class="pi-img">
                            <img ng-src="{{item.pictures[0]}}" alt="{{item.productContent.title}}" orientimgload />
                        </div> -->
                        <div class="pi-content">
                            <a href="/{{item.productContent.oneLvlUrl}}-{{item.nameKey}}" title="{{item.productContent.title}}" style="text-rendering: optimizelegibility;">
                                {{item.productContent.title}}
                            </a>
                            <div class="wrap">
                                <span class="wrap-price">
                        <span class="price"> <i class="fa fa-tags" aria-hidden="true"></i>: <strong class="product-price" ng-bind="item.normalPrice | productPrice"></strong></span>
                                <span class="area"> Diện tích: <strong class="product-area">{{item.acreage}} m²</strong></span></span>
                                <span class="contact floatright"></span> <br/>
                                <span class="p-district"> <i class="fa fa-map-marker" aria-hidden="true"></i>: <strong class="product-city-dist">{{item.district.title}}, {{item.province.title}}</strong></span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <br/>
            <div class="related_product col-lg-12">
                <div class="title-list">Bất động sản dành cho bạn tại <span ng-if="product.district" ng-bind="product.district.title"></span></div>
                <div class="row ">
                    <ul>
                        <li>
                            <a href="/ban-nha-mat-tien-{{product.district.link}}">Nhà đất mặt tiền (<span ng-bind="countMT"></span>) </a>
                        </li>
                        <li>
                            <a href="/ban-nha-trong-hem-{{product.district.link}}" >Nhà đất trong hẻm (<span ng-bind="countTH"></span>) </a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>

        <div id="main-right" class="">
                <div id="product_search" class="">
                    <div class="box-title" style="width: 100%;">
                        <span ng-bind="nearestCate.title"> </span>
                    </div>
                    <div class="box-content" style="width: 100%;">
                        <ul class="count-product">
    
                            <li ng-repeat="item in menuDistrict" ng-if="item.ID != 657">
                                <h4 class="normal">
                                    <a href="/{{nearestCate.oneLvlUrl}}-{{item.link}}">  <span ng-bind="item.title"> </span></a>
                                </h4>
                            </li>
    
                        </ul>
    
                    </div>
                </div>
            
            <div ng-if="adsCenter" class="ads-center row" style="text-align: center;">
                <a href="{{adsCenter[0].nameKey}}">
                    <img ng-src="{{adsCenter[0].videoUrl}}" style="max-width: 100%;" />
                </a>
            </div>
        </div>
    </div>

</div>

<!-- End Portfolio Details Section -->


<script>
    if (window.innerWidth < 992) {
        jQuery('#main-left').attr("class", "col-md-12");
        jQuery('#main-right').css("display", "none");
    } else {
        jQuery('#main-left').attr("class", "col-lg-9");
        // jQuery('#main-left').attr("class", "col-lg-12");
        jQuery('#main-right').css("display", "block");
        jQuery('#main-right').attr("class", "col-lg-3");
    }
</script>