.blue {
    color: #3498DB
}

.purple {
    color: #9B59B6
}

.green {
    color: #1ABB9C
}

.aero {
    color: #9CC2CB
}

.red {
    color: #E74C3C
}

.dark {
    color: #34495E
}

.border-blue {
    border-color: #3498DB !important
}

.border-purple {
    border-color: #9B59B6 !important
}

.border-green {
    border-color: #1ABB9C !important
}

.border-aero {
    border-color: #9CC2CB !important
}

.border-red {
    border-color: #E74C3C !important
}

.border-dark {
    border-color: #34495E !important
}

.bg-white {
    background: #fff !important;
    border: 1px solid #fff !important;
    color: #73879C
}

.bg-green {
    background: #1ABB9C !important;
    border: 1px solid #1ABB9C !important;
    color: #fff
}

.bg-red {
    background: #E74C3C !important;
    border: 1px solid #E74C3C !important;
    color: #fff
}

.bg-blue {
    background: #3498DB !important;
    border: 1px solid #3498DB !important;
    color: #fff
}

.bg-orange {
    background: #F39C12 !important;
    border: 1px solid #F39C12 !important;
    color: #fff
}

.bg-purple {
    background: #9B59B6 !important;
    border: 1px solid #9B59B6 !important;
    color: #fff
}

.bg-blue-sky {
    background: #50C1CF !important;
    border: 1px solid #50C1CF !important;
    color: #fff
}


/* faewf ewa fewa fewa fe wafewa*/

.example-modal .modal {
    position: relative;
    top: auto;
    bottom: auto;
    right: auto;
    left: auto;
    display: block;
    z-index: 1;
}

.example-modal .modal {
    background: transparent !important;
}

.example-modal .modal-dialog .modal-content {
    max-height: 830px;
    overflow: auto;
}

.modal-dialog .modal-content .modal-body {
    /* max-height: 660px; */
    overflow: auto;
}

.card-title {
    margin-bottom: 0rem;
}

.tree {
    margin-top: 20px;
}

.tree ul {
    list-style: none;
    padding-left: 5px;
}

.tree ul li {
    padding-left: 16px;
    position: relative;
    box-sizing: border-box;
}

.tree ul li:before {
    content: '';
    height: 1px;
    width: 10px;
    background-color: #333;
    position: absolute;
    top: 10px;
    left: 0;
    margin: auto;
}

.tree ul li::after {
    content: '';
    width: 1px;
    height: 100%;
    background-color: #333;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}

.tree ul li:last-child::after {
    height: 10px;
}

.tree ul a {
    cursor: pointer;
}

.tree ul a:hover {
    color: #333;
    text-decoration: none;
}

.modal .modal-dialog {
    max-width: 1200px;
    width: 90%;
}

ul#listFiles {
    margin-top: 10px;
    max-height: 600px;
    overflow: auto;
}

ul#listFiles li {
    display: inline;
    margin: 6px;
    padding: 4px;
    overflow: hidden;
    float: left;
    border: 1px solid transparent;
}

ul#listFiles li.selected {
    border: 1px solid #007bff;
    background-color: #dce2f5;
}

ul#listFiles li p {
    width: 100%;
    text-align: center;
    font-size: 10px;
    margin-bottom: 5px;
}

.postImgs,
#postImgs,
#projectImgs {
    margin-top: 10px;
}

.postImgs .divImg,
#postImgs .divImg,
#projectImgs .divImg {
    display: inline;
    max-height: 100px;
    position: relative;
}

.postImgs img,
#postImgs img,
#projectImgs img {
    max-height: 100px;
    margin-bottom: 15px;
    margin-right: 15px;
    min-width: 100px;
}

.postImgs .divImg .img-btn-control,
#postImgs .divImg .img-btn-control,
#projectImgs .divImg .img-btn-control {
    position: absolute;
    right: 15px;
    top: -46px;
    width: 100px;
    padding: 1px;
    background: rgb(255 255 255 / 0.8);
}

.img-btn-control i.fa {
    margin-left: 10px;
    padding: 10px;
    font-size: 15px;
}

i.fa.fa-close,
i.fa.fa-times {
    color: red;
}

.table-responsive {
    min-width: 700px;
}

table.dataTable tbody td,
table.dataTable tbody th {
    padding: 5px 10px;
}

.dataTable p,
.dataTable td {
    font-size: 13px;
    margin: 0px;
}

.datetime-picker-dropdown {}

.datetime-picker-dropdown>li.date-picker-menu div>table .btn-default {
    border: 0;
    background: none;
}

.datetime-picker-dropdown>li.time-picker-menu div>table {}

table.dataTable .btn {
    /* padding: 1px; */
    font-size: 1em;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open>.dropdown-toggle.btn-default {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.text-red {
    color: red;
}

.text-green {
    color: green;
}

aside.left-panel {
    background: #312d2b;
}

.navbar {
    background: #312d2b;
}

.dataTables_filter {
    display: none;
}

.dataTable td i {
    font-size: 15px;
}

table.dataTable tbody td,
table.dataTable tbody th {
    padding: 7px 10px !important;
}

.datepickerdemoMoment {
    margin: 0px;
    padding: 0px;
}