<style>
    .modal .modal-dialog .modal-content {
        min-height: 500px;
    }
    
    #uploadProcess ul li {
        list-style: none;
        margin-right: 15px;
        overflow: hidden;
        margin-bottom: 10px;
    }
    
    #uploadProcess img {
        max-height: 80px;
    }
    
    #uploadProcess button.btn-danger {
        float: right;
    }
    
    #uploadProcess button.btn-success {
        float: right;
        margin-right: 20px;
        margin-bottom: 10px;
    }
    
    #formAddProject div#listCategory {
        z-index: 9999;
        border: 1px solid #009188;
        height: 200px;
        overflow-y: scroll;
    }
    
    #formAddProject div.node {}
    
    #formAddProject .node>ul {
        margin-left: 20px;
    }
    
    #listCategory>.node>ul {
        margin-left: 0px;
    }
    
    #formAddProject .node ul li>div>div {
        margin: 5px 0px;
        display: inline-block;
    }
    
    #formAddProject .node ul li {
        border-bottom: 1px solid #e1e1e1;
        position: relative;
        /* height: 35px; */
        line-height: 35px;
        padding-left: 10px;
    }
    /* #formAddProject .node ul li:last-child {
        border-bottom: none;
    } */
    
    #formAddProject .node>div>div>ul {
        margin-left: 0px;
    }
</style>

<div class="row">
    <div class="col-sm-12 col-md-12">
        <aside class="profile-nav alt">
            <section class="card">
                <div class="card-header bg-dark">
                    <strong class="card-title text-light">Thêm mới dự án</strong>
                </div>
                <form id="formAddProject" class="form-horizontal" ng-submit="submitProject($event)">
                    <div class="card-body">
                        <div class="row form-group">
                            <div class="col col-md-3"><label class=" form-control-label">Tên dự án : </label></div>
                            <div class="col-12 col-md-9">
                                <input type="text" name="title" placeholder="" class="form-control" ng-model="projectItem.projectContent.title">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3"><label class=" form-control-label">SEO Keywords : </label></div>
                            <div class="col-12 col-md-9">
                                <input type="text" placeholder="SEO Keywords" class="form-control" ng-model="projectItem.projectContent.seoKeyWord">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3"><label class=" form-control-label">SEO Descriptions : </label></div>
                            <div class="col-12 col-md-9">
                                <input type="text" placeholder="SEO Descriptions" class="form-control" ng-model="projectItem.projectContent.seoDescriptions">
                            </div>
                        </div>
                        <!-- <div class="row form-group">
                            <div class="col col-md-3"><label class=" form-control-label">Chọn danh mục : </label></div>
                            <div class="col-12 col-md-9">
                                <input class="form-control" name="idCategory" ng-click='showHideCategory()' />
                                <div id='listCategory' status="0" style="display:none;">

                                </div>
                            </div>
                        </div> -->
                        <!-- <div class="row form-group">
                            <div class="row col-md-6">
                                <div class="col col-md-4"><label class=" form-control-label">Giá thường : </label></div>
                                <div class="col-12 col-md-8">
                                    <input type="text" placeholder="123000000" class="form-control" ng-model="projectItem.normalPrice" />
                                </div>
                            </div>
                            <div class="row col-md-6">
                                <div class="col col-md-4"><label class=" form-control-label">Giá khuyến mãi : </label></div>
                                <div class="col-12 col-md-8">
                                    <input type="number" placeholder="100000000" class="form-control" ng-model="projectItem.salePrice">
                                </div>
                            </div>
                        </div> -->

                        <div class="row form-group">
                            <div class="row col-md-6">
                                <div class="col col-md-4"><label class=" form-control-label">Diện tích  : </label></div>
                                <div class="col-12 col-md-8">
                                    <input type="number" placeholder="" class="form-control" ng-model="projectItem.acreage">
                                </div>
                            </div>
                            <div class="row col-md-6">
                                <div class="col col-md-4"><label class=" form-control-label">Hẻm rộng : </label></div>
                                <div class="col-12 col-md-8">
                                    <input type="number" placeholder="" class="form-control" ng-model="projectItem.alleyWidth">
                                </div>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="row col-md-6">
                                <div class="col col-md-4"><label class=" form-control-label">Tỉnh thành  : </label></div>
                                <div class="col-12 col-md-8">
                                    <input type="text" placeholder="Tỉnh thành" auto-complete class="form-control" ui-items="listProvinces" ng-model="selectedprovince" key='province' ng-click='showHideList($event)' />
                                    <ul class="showlist showlist-province ui-autocomplete" ng-show="showlistprovince">
                                        <li ng-repeat="item in listProvinces  | filter: selectedprovince track by $index" ng-click="selectedProvince($event, item)">
                                            {{item.title}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row col-md-6">
                                <div class="col col-md-4"><label class=" form-control-label">Quận huyện : </label></div>
                                <div class="col-12 col-md-8">
                                    <input type="text" placeholder="Quận huyện" class="form-control" auto-complete ui-items="listDistricts" ng-model="selecteddistrict" key='district' ng-click='showHideList($event)' />
                                    <ul class="showlist showlist-district ui-autocomplete" ng-show="showlistdistrict">
                                        <li ng-repeat="item in listDistricts  | filter: selecteddistrict track by $index" ng-click="selectedDistrict($event, item)">
                                            {{item.title}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="row col-md-6">
                                <div class="col col-md-4"><label class=" form-control-label">Phường xã  : </label></div>
                                <div class="col-12 col-md-8">
                                    <input type="text" placeholder="Phường xã" class="form-control" auto-complete ui-items="listWards" ng-model="selectedward" key='ward' ng-click='showHideList($event)' />
                                    <ul class="showlist showlist-ward ui-autocomplete" ng-show="showlistward">
                                        <li ng-repeat="item in listWards  | filter: selectedward track by $index" ng-click="selectedWard($event, item)">
                                            {{item.title}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row col-md-6">
                                <div class="col col-md-4"><label class=" form-control-label">Hướng nhà : </label></div>
                                <div class="col-12 col-md-8">
                                    <input type="text" placeholder="Hướng nhà" class="form-control" auto-complete ui-items="listDirections" ng-model="selecteddirection" key='direction' ng-click='showHideList($event)' />
                                    <ul class="showlist showlist-direction ui-autocomplete" ng-show="showlistdirection">
                                        <li ng-repeat="item in listDirections  | filter: selecteddirection track by $index" ng-click="selectedDirection($event, item)">
                                            {{item.name}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="row col-md-6">
                                <div class="col col-md-6"><label class=" form-control-label">Dự án hot : </label></div>
                                <div class="col-12 col-md-6">
                                    <input type="checkbox" ng-model="checkHot" />
                                </div>
                            </div>
                            <div class="row col-md-6">
                                <div class="col col-md-6"><label class=" form-control-label">Ẩn hiện sản phẩm : </label></div>
                                <div class="col-12 col-md-6">
                                    <input type="checkbox" ng-model="checkVisible" />
                                </div>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col col-md-3"><label class=" form-control-label">Hình ảnh : </label></div>
                            <div class="col-12 col-md-9">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#galleryModal">Chọn từ thư viện</button>
                                <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#copyLinkModal" >Copy link</button> -->
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#uploadModal">Tải ảnh lên</button>
                                <div id="projectImgs">
                                    <div ng-if="projectItem.pictures" ng-repeat="src in projectItem.pictures" class="divImg">
                                        <img src="{{src}}">
                                        <i class="fa fa-close"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-12"><label class=" form-control-label">Mô tả ngắn : </label></div>
                            <textarea name="descriptions" id="editorDescription" rows="4" cols="80">
                                        Mô tả ngắn
                                    </textarea>
                            <script>
                                CKEDITOR.replace('editorDescription', {
                                    language: 'vi',
                                    width: '90%',
                                    title: 'Mô tả ngắn',
                                    entities_latin: false,
                                    height: '8em',
                                    // uiColor: '#9AB8F3'
                                });
                            </script>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-12"><label class=" form-control-label">Nội dung chi tiết : </label></div>
                            <textarea name="content" id="editorContent" rows="10" cols="80">
                                    Nội dung chi tiết
                                </textarea>
                            <script>
                                CKEDITOR.replace('editorContent', {
                                    language: 'vi',
                                    width: '100%',
                                    title: 'Nội dung chi tiết',
                                    entities_latin: false,
                                    height: '30em',
                                    // uiColor: '#9AB8F3'
                                });
                            </script>
                        </div>

                    </div>

                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary ">
                                <i class="fa fa-dot-circle-o"></i> Submit
                            </button>
                        <button type="reset" class="btn btn-danger ">
                                <i class="fa fa-ban"></i> Cancel
                            </button>
                    </div>
                </form>
            </section>

        </aside>
    </div>

</div>


<div id="galleryModal" class="example-modal modal fade">
    <div class="modal modal-primary">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" style="position: absolute;">Enter Folder Name :</h4>
                </div>
                <div class="modal-body">
                    <div class="input-group" style="background-color : #fff;">
                        <span class="input-group-addon">public\uploads\</span>
                        <select class="form-control" name="folderName">
                        <option value="">media</option>
                    </select>
                    </div>
                    <ul id="listFiles">

                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="addImgToPost($event)" class="btn btn-primary ">Chèn ảnh vào bài</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>

<div id="copyLinkModal" class="example-modal modal fade">
    <div class="modal modal-primary">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" style="position: absolute;">Enter Folder Name :</h4>
                </div>
                <div class="modal-body">
                    <div class="input-group" style="background-color : #fff;">
                        <span class="input-group-addon">{{acviteFolderPath}}</span>
                        <input type="text" class="form-control" name="folderName" placeholder="" style="background: #fff;">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="addFolder($event)" class="btn btn-success ">Add Folder</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>

<div id="uploadModal" class="example-modal modal fade">
    <div class="modal modal-primary">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" style="position: absolute;">Tải ảnh lên :</h4>
                </div>
                <div class="modal-body">
                    <div id="prepareBtn">
                        <button class="btn btn-primary btnUpload"><i class="fa fa-search"></i>Chọn ảnh</button>
                        <input id="uploadBtn" type="file" hidden multiple />
                    </div>

                    <div id="uploadProcess" style="display: none;">
                        <form enctype="multipart/form-data">
                            <ul>

                            </ul>
                            <div class="form-group" style="height: 40px;">
                                <button ng-click=doUpload($event) class="btn btn-success">Tải lên</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>